*.dll
*.exe
**/x86
**/x64
**/Debug
**/Release
**/Release Gold
**/packages
/data/editor.xml
/data/maps
*.suo
*.vs
/data/tsets/tset_001.png
/log_editor.txt
/data/config.xml
/data/tsets.dat
/data/sys.dat
/data/op2-landlord-data.zip
/data/sys
*.png

