*.dll
*.exe
/proj/vc14/Debug
/proj/vc14/*.db
/proj/vc14/Release
/proj/vc14/*.opendb
/data/editor.xml
/data/maps
/proj/vc14/.vs/Landlord/v14/*.suo
.vs
/data/tsets/tset_001.png
/log_editor.txt
/data/config.xml
/data/tsets.dat
/data/sys.dat
/data/op2-landlord-data.zip
