[submodule "nas2d-core"]
	path = nas2d-core
	url = https://github.com/lairworks/nas2d-core.git
[submodule "OP2Utility"]
	path = OP2Utility
	url = git@github.com:OutpostUniverse/OP2Utility.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
